{% extends "base.html" %}

{% block title %}Įrašai{% endblock %}

{% block content %}

{% if irasai %}
{% for irasas in irasai %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ irasas.autorius }}</a>
            <small class="text-muted">{{ irasas.data|date:"Y-m-d, f" }}</small>
        </div>
        <h2><a class="article-title">{{ irasas.pavadinimas }}</a></h2>
        <p class="article-content">{{ irasas.tekstas|safe|truncatewords:"20"|linebreaks }}</p>
        <p class="card-text">
            <a href="">Skaityti daugiau</a>
        </p>
    </div>
</article>
<hr>
{% endfor %}
{% else %}
<p>Straipsnių nėra</p>
{% endif %}
{% endblock %}