{% extends "base.html" %}

{% block title %}Įrašas{% endblock %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ irasas.autorius }}</a>
            <small class="text-muted">{{ irasas.data|date:"Y-m-d, f" }}</small>
        <h2><a class="article-title">{{ irasas.pavadinimas }}</a></h2>
        </div>
        {% if irasas.autorius == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'irasas_update' irasas.id %}">Redaguoti</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'irasas_delete' irasas.id %}">Ištrinti</a>

        </div>
        {% endif %}
        <p class="article-content">{{ irasas.tekstas|safe }}</p>
    </div>
</article>
  {% if user.is_authenticated %}
  <div class="fieldWrapper">
    <hr><br/>
    <h4>Palikite komentarą:</h4>
    <form method="POST">
      {% csrf_token %}
      {{ form.tekstas }}</br>
      <input type="submit" value="Paskelbti">
    </form>
  </div>
  {% endif %}
<hr>
<h6>Komentarai:</h6>
{% for komentaras in irasas.komentarai.all %}
<div>
    <a class="mr-2">{{ komentaras.autorius }}</a>
    <small class="text-muted">{{ komentaras.data|date:"Y-m-d, f" }}</small>
    <p>{{ komentaras.tekstas }}</p>
</div>
{% endfor %}
{% endblock %}